@media screen and (max-width: 600px) {
    body,
    .banner{
        padding: 10px;
    }
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    label{
        display: inline-flex;
    }
    #toggler:checked~.menu{
        max-height: 100%;
    }
    .list{
        flex-direction: column;
        /* align-items: center; */
        gap: 10px;
        text-align: right;
        margin-right: 20px;
    }

    .nav-title {
        color: #131318;
        font-size: 1rem;
        font-weight: 800;
    }

    .search-container,
    .popular-tour-container,
    .maldive-indo,.sri-kashmir, .bd,
    .card-container,
    .newsletter-container{
        flex-direction: column;
        padding: 10px;
    }
    .popular-tour-img img , .newsletter-img img{
        width: 100%;
    }
    .destination-img-container img {
        width: 100%;
    }
    .card-price, .card-location, .card-hotel{
        width: 80%;
    }
    .discount{
        position: relative;
        max-width: 200px;
        bottom: 116px;
        left: 100px;
        padding: 15px;
    }
    .discount-title {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
    }
    .discount-loc{
        font-size: 16px;
    }
    .newsletter{
        width: 75%;
        margin-bottom: 40px;
    }
    footer{
        padding: 10px;
    };
}